@media (min-width: 1000px){
	/* header*/
	#header{padding: 0 0 14px 0;width: 980px;}
	.wrap{
		width: 956px;
	}
	#logo{
		width: 203px;
		height: 165px;
		float: left;
		margin: 7px 0 0 29px;
		background: url(../img/logo.png) no-repeat;
	}
	.links ul{float: left;}
	.links{
		float: right;
		width: 715px;
		padding: 13px 0 9px 0;
		border-bottom: 3px solid #e17b01;
	}
	.links li{
		float: left;
		border-left: 1px solid #000;
		line-height: 1;
		padding: 0 21px;
	}
	.links li:first-child{border-left:0;padding: 0 21px 0 0;}
	.links #welcome{float: right;}
	.links #welcome a{margin: 0 32px 0 20px;}
	.links #welcome a:first-child{margin: 0 18px 0 0;}
	.info_block{
		float: right;
		border-left: 1px solid #9f9f9f;
		border-right: 1px solid #9f9f9f;
		margin: 24px 0 0 0;
		width: 438px;
	}
}
@media (max-width: 999px){
	/* header*/
	#header{
		padding: 15px 0 0 0;
	}
	#logo{
		width: 89px;
		height: 76px;
		margin: 11px 0 15px; 0;
		background: url(../img/logo_m.png) no-repeat;
	}
	.links>ul{display: none;}
	#welcome{color: #fff;}
	#welcome:after{
		content: '';
		display: block;
		clear: both;
	}
	#welcome a{text-decoration: underline;}
	#welcome a:hover{text-decoration: none;}
}
@media (min-width: 320px) and (max-width: 479px){
	/* header*/
	#header{width: 290px;}
	#welcome{padding: 0 12px;}
}
@media (min-width: 480px) and (max-width: 600px){
	/* header*/
	#header{width: 380px;}
	#welcome{padding: 0 5px;}
}
